<!DOCTYPS html>
<html>
    <head>
        <title>A bientôt</title>
    </head>
    <body>
        <h1>Ouaaaarffff</h1>
        <p>{{ nom }}, il est déjà {{ heure }}...</p>
        <p>
            D'abord, ne vous affolez pas si vous n'avez pas tout compris.
            Le but de ce chapitre était de vous donner une vision globale
            d'une page Symfony. Vous avez des notions de bundles, de routes,
            de contrôleurs et de templates : vous savez presque tout !
            Il ne reste plus qu'à approfondir chacune de ces notions,
            ce que nous ferons dès le prochain chapitre.
            <br />
            tag : {{ tag }}
            <br />
            Oh le beau lien : <a href="{{ url }}">une annonce extra !</a>.
            <br />
            <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">
                Lien vers l'annonce d'id {{ advert_id }}
            </a>

        </p>
    </body>
</html>